body {
    text-align: center;
    color: white;
}
.Table-link {
    color: white;
}
.Delete-btn {
    background-color: #880e4f;
    color: white;
}
.Table-img {
    border-radius: 50%;
    max-width: 50px;;
}
