.Navbar {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 20px;
  background-color: #880e4f;
}

.Navbar .Link {
  margin: 0 10px;
  color: white;
}

.Navbar .Welcome {
  color: white;
  margin: 0 10px;
  text-align: left;
}