
.HomePage {
    text-align: center;
    display: flex;
    justify-content: center;   
    margin-top: 50px;
}

.btn-danger {
    border-radius: 50%;
    margin-right: 80px;
    font-weight: 900;
    font-family: Arial;
}
.Card .btn-info {
    border-radius: 50%;
    margin-left: 80px;
    font-weight: 900;
}

.Card {
    border: 8px solid #880e4f;

}

.Card-img {
    padding: 10px 10px 0 10px;

}
.Card-title{
    color: black;
    font-size: 30px;
    font-weight: 700;
}